
.navbar {
    background-color: black;
    background: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
} 
.navbar-nav
{
  margin-left: 900px;
}