
/*-------------------------------
------Register-Main--------
------------------------------*/

.register-main-wrap{
    min-height: 100vh;
    padding: 4rem 0;
}

.bg-para{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.register-main{
    width: 45%;
    min-height: 10rem;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 6px 20px rgba(0,0,0,.25);
    overflow: hidden;
}

.register-body,
.register-main .banner-wrap{
    padding: 1.5rem;
}

.register-welcome{
    letter-spacing: 1px;
    line-height: 2;
    font-size: 1.1rem;
    font-weight: 700;
}

.register-btn-label{
    font-size: .9rem;
    font-weight: 300;
}

.register-btn-label button{
    border: none;
    margin-left: .5rem;
    padding: .5rem;
    border-radius: 3px;
    background: #fff;
    color: var(--primary);
}

.register-body label{
    font-size: .95rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #555;
}

.register-body input{
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    outline: none;
    padding: .5rem;
    margin-bottom: 1rem;
}

.bord-bottom{
    border-bottom: 1px solid #ddd !important;
}

.u-margin-bottom-new{
    margin-bottom: 1.6rem !important;
}

.login-submit{
    color: #fff;
    padding: .5rem 1.5rem;
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 3px;
    transition: all .5s;
}

.login-submit i{
    margin-right: .5rem;
}

.login-submit:hover{
    background: transparent;
    color: var(--primary);
}

.forgot-password{
    color: #777;
    font-weight: 300;
    line-height: 2.9;
}

.forgot-password span{
    color: var(--primary);
    font-weight: 400;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
}

.register-social{
    margin-top: .5rem;
    margin-bottom: 0 !important;
}

.register-social li{
    display: inline-block;
    margin-bottom: 1.5rem;
}

.register-social li:not(:last-child){
    margin-right: 1rem;
}

.fb{
    background-color: #4267b2 !important;
    border: 1px solid #4267b2 !important;
    color: #fff !important;
}

.google{
    background-color: #DD4B39 !important;
    border: 1px solid #DD4B39 !important;
    color: #fff !important;
}

@media only screen and (max-width: 1150px){
    .register-main{
        width: 60%;
    }
}

@media only screen and (max-width: 800px){
    .register-main{
        width: 80%;
    }
}

@media only screen and (max-width: 500px){
    .register-main{
        width: 90%;
    }
}


.register-body .tab-content{
    padding-top: 1.5rem;
}

.register-body .nav-link{
    width: 50%;
    text-align: center;
    background: #f5f5f5;
}

.register-body .nav-link:hover{
    color: var(--secondary);
}

.register-body .nav-link.active{
    background: var(--secondary);
    color: #fff;
}

#reset,
#register{
    display: none;
}

/*-------------------------------
------Register-Main (END)--------
------------------------------*/

/*-------------------------------
------NEW_PROPERTIES --------
------------------------------*/

#newproperties .new-properties-wrap{ 
    position: relative;
}

#newproperties .new-properties-wrap::before{
    content:'';
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-property-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: .5rem 1rem;
}

.new-property-content .p1,
.new-property-content .p2{
    font-size: .85rem;
    font-weight: 500;
    color: #eee;
    text-transform: uppercase;
}

.new-property-content .p1{
    color: var(--success);
    font-weight: 600;
}

.new-property-content .p2 i{
    margin-right: .4rem;
    color: var(--success);
}

/*-------------------------------
------NEW_PROPERTIES (END)--------
------------------------------*/
