:root{
  --color-primary: #000;

}

.clearfix::after{
  content:'';
  display: block;
  clear:both;
}

*,
*::before,
*::after{
box-sizing: inherit;
}
/****** Navbar-Secion ******/
.nav-more .dropdown{
  margin-top:-32px;
}
/*** COLORS ***/
@bg-color: #913D88;
@txt-color: #FFFFFF;
@icn-color: #FFFFFF;

/*** DEMO ***/
/* html,body{height:100%;margin:0;}body{background:@bg-color;font:13px monospace;color:@txt-color}p{margin-top:30px}.cntr{display:table;width:100%;height:100%;.cntr-innr{display:table-cell;text-align:center;vertical-align:middle}} */

body{
  box-sizing: border-box;
}

/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid @icn-color;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
  
  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: @icn-color;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }
  
  &.active,
  &:hover {
    width: 200px;
    margin-right: 0px;
    
    &:after {
      height: 0px;  
    }
  }
  
  input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
  }
}
  .site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;
}

.site-hero.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero .site-hero-inner {
  min-height: 750px;
  height: 100vh;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 7em 0;
}.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;
}

.site-hero.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero .site-hero-inner {
  min-height: 750px;
  height: 100vh;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 7em 0;
}
  #search-form .search-input {
  width: calc(100% - 160px);
  height: 55px;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

#search-form .search-input:hover, #search-form .search-input:active, #search-form .search-input:focus {
  border: none;
}

#search-form button {
  height: 55px;
  width: 160px;
  background: #891a23;
  border: #891a23;
}
#search-form a{
  text-decoration: none;
  color: white
}


.img-bg {
  background-size: cover;
}
/* images section */
.discoverpage h2{
  padding: 10px 0;
}
.feature-destination, .slider-wrap {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature-destination .img-bg, .slider-wrap .img-bg {
  margin-bottom: 30px;
  display: block;
  height: 300px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.feature-destination .img-bg:before, .slider-wrap .img-bg:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .1;
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg .text, .slider-wrap .img-bg .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-destination .img-bg .text .icon, .slider-wrap .img-bg .text .icon {
  color: #fff;
  font-size: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
}

.feature-destination .img-bg .text h2, .slider-wrap .img-bg .text h2 {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  top: 0px;
  position: relative;
}

.feature-destination .img-bg .text p, .slider-wrap .img-bg .text p {
  color: #fff;
  opacity: 0;
  top: 10px;
  visibility: hidden;
  font-size: 13px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg:hover, .feature-destination .img-bg:focus, .slider-wrap .img-bg:hover, .slider-wrap .img-bg:focus {
  top: -10px;
  -webkit-box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}

.feature-destination .img-bg:hover .text .icon, .feature-destination .img-bg:focus .text .icon, .slider-wrap .img-bg:hover .text .icon, .slider-wrap .img-bg:focus .text .icon {
  top: -10px;
}

.feature-destination .img-bg:hover .text h2, .feature-destination .img-bg:focus .text h2, .slider-wrap .img-bg:hover .text h2, .slider-wrap .img-bg:focus .text h2 {
  top: -10px;
}

.feature-destination .img-bg:hover .text p, .feature-destination .img-bg:focus .text p, .slider-wrap .img-bg:hover .text p, .slider-wrap .img-bg:focus .text p {
  top: 0;
  opacity: .5;
  visibility: visible;
}

.feature-destination .img-bg:hover:before, .feature-destination .img-bg:focus:before, .slider-wrap .img-bg:hover:before, .slider-wrap .img-bg:focus:before {
  opacity: .4;
}
/* images section ends here */

/*--------------------------------
---Categories section index page--
-----------------------------------  */

.discover h1{
  text-align: center;
}
.discover p{
  font-family: tw cen mt;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 40px;
  margin: 0 4rem; 
  color: #777;
}


/** Category section */
.category{
  padding-bottom: 3rem;
}
 .category-image-bg {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0 0 10px;
  position: relative;
}

.category-image-bg a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  line-height: 250px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.6s;
  text-decoration: none;
}

.category-image-bg a span {
  border: 1px solid #FFF;
  padding: 7px 20px;
}

.category-image-bg a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.category-image-bg a:hover span {
  border-color: #891a23;
  background: #891a23;
  color: rgb(255, 255, 255);
}

.category-image-bg.sm {
  height: 117px;
  margin-bottom: 9px;
}

.category-image-bg.sm a {
  font-weight: 700;
  line-height: 117px;
  font-size: 16px;
}

.category-image-bg.sm a span {
  padding: 5px 15px;
}

ul.home-category-list li {
  width: 16.666666667%;
  float: left;
  margin: 0 0 8px;
}

ul.home-category-list li a {
  color: #5d5d5d;
}

ul.home-category-list li a:hover {
  color: #891a23;
}

@media only screen and (max-width: 1199px) {
  ul.home-category-list li {
      width: 20%;
  }
}

@media only screen and (max-width: 991px) {
  ul.home-category-list li {
      width: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .category-image-bg {
      height: 200px;
  }
  .category-image-bg a {
      line-height: 200px;
      font-size: 14px;
  }
  ul.home-category-list li {
      width: 33.33333333%;
  }
}

@media (max-width: 479px) {
  .category-image-bg {
      height: 150px;
  }
  .category-image-bg a {
      line-height: 150px;
      font-size: 13px;
      letter-spacing: 0;
  }
  .category-image-bg a span {
      border: 1px solid #FFF;
      padding: 5px 5px 3px;
  }
  ul.home-category-list li {
      width: 50%;
  }
}
/* categori section */

/*--------------------------------
---Categories section index page Ends--
-----------------------------------  */

.text-center {
    text-align: center;
}

  .counter {
    background-color:#c5c5c5;
    color: black;
    padding: 20px 20px;
    font-size: 30px;
    border-radius: 100px;
    transition: all 0.5s;
}
.counter:hover{
  background-color: #891a23;
  color: white;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
} 
h2
{
  text-align: center;
}
/*@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
*/
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin:  auto 0px;
  padding: 10px;
  margin-bottom: 30px;
  color: #000;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button.victoria-two {
  border: 2px solid#891a23;
}
a.animated-button.victoria-two:after {
  background:#891a23;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
.sign
{
  margin-top: -30px;
  margin-bottom: 30px;
}
a.animated-button.thar-two {
  color: #000;
  cursor: pointer;
  text-align: center;
  display: block;
  overflow: hidden;
  position: relative;
  border: 2px solid #891a23;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.row{
  text-align: center;
}
a.animated-button.thar-two:hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: ntwo;
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}
a.animated-button.thar-two:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}
a.animated-button.thar-two:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #891a23;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
/* .foot
{
  background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.foot-text
{
  font-family: Raleway;
}
.fas{
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
footer
{
  background-color: black;
  color: white;
} */
.footstart
{
  text-align: center;
  font-family: sniglet;
  margin: 3rem 13rem;
}
/******** Footer Starts *********/
.footer-main .navbar-brand
{
    font-family: Palace Script MT;
    color: white;
    font-size: 5rem;
    font-weight: 300;
}

/*------------------------
-------Footer-Main------
-------------------------*/

.footer-top{
  background: #222;
  color: #666;
  padding: 4rem 0 2rem;
}

.foot-wrap{
  padding-bottom: 3rem;
}

.footer-title{
  font-size: 1.5rem;
  font-family: raleway;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.footer-social{
  text-align: center;
  margin-left: -30px;
}

.footer-social li{
  display: inline-block;
  margin: 0 .3rem 1rem .3rem;
}

.footer-social-link{
  display: block;
  font-size: 1.4rem;
  color: #fff;
  height: 3.5rem;
  width: 3.5rem;
  background: #1c1c1c;
  line-height: 3.5rem;
  text-align: center;
}

.footer-social-link:hover{
  background: #891a23;
  color: #fff;
}

.newsletter{
  position: relative;
  width: 85%;
  margin: 0 auto;
}

.newsletter-box{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  background: #1c1c1c;
  color: rgba(255, 255, 255, .55);
  height: 4rem;
  font-weight: 300;
  font-family: tw cen mt;
  font-style: italic;
  padding: .8rem 5.5rem .8rem 1.5rem;
  font-size: 1.3rem;
}

.news-submit{
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
  min-height: 4rem;
  color: var(--color-primary);
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-right: 1.5rem;
  color:  #891a23;
}

.footer-main .navbar-brand{
  padding: 0;
  margin: 0;
  margin-bottom: 1.8rem;
  line-height: .7;
}

.footer-content{
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
  font-family: tw cen mt;
  color: rgba(255, 255, 255, .55);
}

.footer-box{
  padding-right: 2rem;
}

/* Bottom-Footer */

.footer-bottom{
  padding: 2rem 0 1.5rem;
  background: #1c1c1c;
  color: rgba(255, 255, 255, .55);
  position: relative;
}

.foot-contact li{
  display: inline-block;
  padding: 0 1rem;
  position: relative;
}

.foot-contact li:not(:last-child)::before{
  content: '|';
  position: absolute;
  right: -.4rem;
  top: 0;
  bottom: 0;
}

.footer-bottom .footer-content{
  font-size: 1.2rem;
}

.bottom-contact-info{
  margin-bottom: 1rem;
}

.copyright a{
  color: #891a23;
}

.copyright a:hover{
  color: white;
}

.to-top{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2rem;
}

.to-top button{
  outline: none;
  border: none;
  background: transparent;
  height: 4rem;
  width: 4rem;
  border-radius: 3px;
  text-align: center;
  line-height: 4rem;
  transform: rotate(45deg);
  background: #1c1c1c;
}

.to-top button>*{
  transform: rotate(-45deg);
}


.to-top button i{
  color: rgba(255, 255, 255, .55);
}

/* Bottom-Footer */

@media only screen and (max-width: 800px){
  .footer-box{
      padding-right: 0;
  }
}

/*------------------------
-------Footer-Main------
-------------------------*/


/*.portfolio
.hero
{
  margin: 0px;
  background: #96a6bd;
  text-align: center;
}
.cover
{
  background-image: url("assets/mats/baby.jpg");
  width= "640"
  height="426"
  filter="url(#blur);
}*/


.hero img{
  width: 100%;
  height: 80vh;
  object-fit: cover;

}


/*Portfolio section*/

.hero{
  position: relative;

}


.hero-overlay{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-overlay .share-btn
{
  position: absolute;
  padding-top: 40px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.share-btn a{
  text-decoration: none;
  color: white;
}
.nav-tabs{
  padding: 10px 0 0; 
}

.photo-modal .modal-body img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.portfolio h1
{
    font-size:32px;
    text-align: center;
   padding-top:25px
  
}
.portfolio h2
{
  max-width:none;
  line-height:1.5;
  font-size:15px;
  padding:10px 20px 0;
}
.portfolio-cover
{
  text-align:center;
  margin:22px 0 20px;
}
.btn-all
{
  padding-left: 38rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.portfolio .container-fluid
{
  padding-top: 75px;
}

/*------------------------
-------Gallery-Section------
-------------------------*/


.gallery .section-heading-wrap{
    padding-top: 25rem;
    padding-bottom: 2rem;
}

.gallery .sub-heading{
    font-size: 5.5rem;
    color: var(--color-primary-light);
}

.gallery .main-heading{
    font-size: 5rem;
    font-weight: 300;
}

.gallery-img-wrap{
    width: 100%;
    height: 25rem;
    overflow: hidden;

}

.gallery-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    -o-transition: all 5s;
    -ms-transition: all 5s;
    transition: all 5s;
      padding: 3px;
}

.gallery-img-wrap:hover img{
    transform: scale(1.5);
}

/*------------------------
-------Gallery-Section------
-------------------------*/
/*------------------------
-------Image-Hover------
-------------------------*/

.img-hover{
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.img-hover::before{
    content: '';
    width :100%;
    height: 100%;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.img-hover:hover::before{
    background: rgba(0,0,0,0.5);
}

.img-icon{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.img-icon i{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 5px 3px rgba(0,0,0,0.4);
}

.img-hover:hover .img-icon{
    top: 50%;
    opacity: 1;
    visibility: visible;
}

/*------------------------
-------Image-Hover------
-------------------------*/
/* .view-btn
{
  margin: 10px;
  padding-left: 40rem;
} */

/*Portolio about me card*/
.aboutme .card
{
  object-fit: cover;
  width: 30rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 20px;
  margin-top: 20px; 
  text-align: center;

}
.aboutme a
{
  font-family: Nexa Light;
  font-size: 12px;
}
.aboutme img
{
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
/*About me porfolio ends*/

/* create blog section */
.createblog{
  margin: 0 20rem 1rem;
}

  /*-------------------------------
  -------Blog-Banner----------------
  ------------------------------*/

  .blog-banner{
    height: 70vh;
}

.blog-banner .hero-normal{
    font-weight: 500;
    line-height: 1.3;
    font-size: 4rem !important;
}

.page-tagline{
    font-size: 1rem;
    line-height: 2;
}

.blog-banner .hero-content-wrapper{
    top: 70%;
}

.hero-image-wrapper{
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  height: 100%;
  position: relative;
  z-index: -10;
}

.hero-content-wrapper{
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  z-index: 100;
  color: #fff;
}

/*-------------------------------
-------Blog-Banner (End)----------------
------------------------------*/

/*-------------------------------
-------Blog-Main----------------
------------------------------*/

.bg-white{
  background: #fff;
}

.blog-main{
  padding: 4rem 0;
}

.blog-card{
  width: 100%;
  margin: 2rem 0;
}

.blog-cover{
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.side-image-wrap img,
.blog-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 5s;
}

.side-image-wrap:hover img,
.blog-cover:hover img{
  transform: scale(1.3);
}

.blog-content-wrapper{
  padding-top: 2rem;
}

.blog-date{
  font-size: 1rem;
  color: #999;
  letter-spacing: 1px;
}

.blog-title{
  margin: 1rem 0;
}

.blog-title a{
  color: #555;
}

.blog-content-wrapper .about-para{
  line-height: 2.3rem;
  font-size: 1.3rem;
  font-family: Tw cen Mt;
}

/*-------------------------------
-------Blog-Main (End)----------------
------------------------------*/

/*-------------------------------
-------Blog-Side----------------
------------------------------*/

.blog-side-card,
.blog-side-card .about-para{
    font-size: 1.3rem !important;
}

.blog-side-title{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.contact-address-head{
    color: #555;
    font-style: italic;
  margin-top: 1rem;
  margin-bottom: .6rem;
}

.blog-side-social li{
    display: inline-block;
    margin-left: 2rem;
}

.blog-side-post-title,
.blog-side-social li a{
    color: #333;
    transition: all .5s;
}

.blog-side-post-title:hover,
.blog-side-social li a:hover{
    color: #777;
}

.blog-side-post-wrap{
    margin-top: 1.5rem;
}

.side-image-wrap{
    width: 100%;
    height: 8rem;
    margin: 1rem 0;
    overflow: hidden;
}

.less-gutter [class^="col-"]{
  padding-right: 7px !important;
  padding-left: 7px !important;
}

@media only screen and (max-width: 800px){
  .side-image-wrap{
      height: 17rem;
  }
}

/*-------------------------------
-------Blog-Side (End)----------------
------------------------------*/

/*-------------------------------
-------Blog-Detail----------------
------------------------------*/

.img-cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.blog-detail-cover{
    height: 45rem;
    width: 100%;
}

.blog-detail-heading-wrap{
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
}

.blog-detail-heading-wrap::before{
    content:'';
    height: 2px;
    width: 5rem;
    margin: 0 auto;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog-detail-heading-wrap .blog-date{
  font-size: 1.2rem;
}

.blog-detail-heading-wrap .blog-title{
    font-size: 4rem;
}

.blog-detail-quote{
    margin: 2.5rem 0;
    padding: 2rem 0;
    text-align: center;
    position: relative;
}

.blog-detail-quote::before,
.blog-detail-quote::after{
    content: '';
    height: 1px ;
    width: 30%;
    background: #ccc;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

.blog-detail-quote::before{
    top: 0;
}

.blog-detail-quote::after{
    bottom: 0;
}

.blog-detail-quote p{
    line-height: 1.9;
    font-size: 1.8rem;
    color: #444;
    font-weight: 300;
}

.quote-design{
    color: #999;
    background: #fff;
    height: 2rem;
    width: 3rem;
    margin: 0 auto;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
}

.blog-detail-img-wrap{
    width: 100%;
    height: 35rem;
    margin: 2rem 0;
}

.blog-author-wrapper{
    margin: 2rem 0;
    margin-top: 5rem;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.blog-author-heading{
    /* background: #f5f5f5; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    font-size: 1rem;
}

.blog-author-heading i{
    margin-right: .5rem;
    color: #333;
}

.blog-author-heading a{
    color: #777;
    transition: all .3s;
}

.blog-author-heading a:hover{
    color: #555;
}

.blog-author-body{
    padding: 4rem 0;
}

.author-photo{
    height: 9rem;
    width: 9rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.author-photo img{
    border-radius: 50%;
}

.author-title{
    font-size: 1.3rem;
    font-weight: 300;
    color: #333;
}

.author-position{
    font-size: 1.7rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.author-main-desc{
    color: #555;
    font-size: 1.3rem;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
    line-height: 1.9;
}

/*------------------------------
-------Blog-Detail (End)----------------
------------------------------*/


/*-------------------------------
------Register-Main--------
------------------------------*/

.register-main-wrap{
  min-height: 100vh;
  padding: 4rem 0;
}

.bg-para{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}

.register-main{
  width: 45%;
  min-height: 10rem;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 6px 20px rgba(0,0,0,.25);
  overflow: hidden;
}

.register-body,
.register-main .banner-wrap{
  padding: 1.5rem;
}

.register-welcome{
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 700;
}

.register-btn-label{
  font-size: .9rem;
  font-weight: 300;
}

.register-btn-label button{
  border: none;
  margin-left: .5rem;
  padding: .5rem;
  border-radius: 3px;
  background: #fff;
  color: var(--primary);
}

.register-body label{
  font-size: .95rem;
  font-weight: 700;
  margin-bottom: .5rem;
  color: #555;
}

.register-body input{
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  padding: .5rem;
  margin-bottom: 1rem;
}

.banner-wrap{
  width: 100%;
  background: #343a40;
}

.banner-wrap h5{
  text-transform: uppercase;
  font-size: 1.1rem;
}

.banner-top span{
  line-height: 1.2;
}

.banner-top{
  margin-bottom: .4rem;
}

.banner-bottom p{
  font-weight: 300;
  font-size: .8rem;
}

.banner-bottom p i{
  margin-right: .3rem;
}

.banner-bottom span{
  color: #eee !important;
  font-weight: 300;
  font-size: .8rem;
}


.bord-bottom{
  border-bottom: 1px solid #ddd !important;
}

.u-margin-bottom-new{
  margin-bottom: 1.6rem !important;
}

.login-submit{
  color: #fff;
  padding: .5rem 1.5rem;
  background: #343a40;
  border: 1px solid #343a40;
  border-radius: 3px;
  transition: all .5s;
}

.login-submit i{
  margin-right: .5rem;
}

.login-submit:hover{
  background: transparent;
  color:#343a40;
}

.forgot-password{
  color: #777;
  font-weight: 300;
  line-height: 2.9;
}

.forgot-password span{
  color: var(--primary);
  font-weight: 400;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.register-social{
  margin-top: .5rem;
  margin-bottom: 0 !important;
}

.register-social li{
  display: inline-block;
  margin-bottom: 1.5rem;
}

.register-social li:not(:last-child){
  margin-right: 1rem;
}

.fb{
  background-color: #4267b2 !important;
  border: 1px solid #4267b2 !important;
  color: #fff !important;
}

.google{
  background-color: #DD4B39 !important;
  border: 1px solid #DD4B39 !important;
  color: #fff !important;
}

@media only screen and (max-width: 1150px){
  .register-main{
      width: 60%;
  }
}

@media only screen and (max-width: 800px){
  .register-main{
      width: 80%;
  }
}

@media only screen and (max-width: 500px){
  .register-main{
      width: 90%;
  }
}


.register-body .tab-content{
  padding-top: 1.5rem;
}

.register-body .nav-link{
  width: 50%;
  text-align: center;
  background: #f5f5f5;
}

.register-body .nav-link:hover{
  color: var(--secondary);
}

.register-body .nav-link.active{
  background: var(--secondary);
  color: #fff;
}

#reset,
#register{
  display: none;
}

/*-------------------------------
------Register-Main (END)--------
------------------------------*/

/*-------------------------------
------NEW_PROPERTIES --------
------------------------------*/

#newproperties .new-properties-wrap{ 
  position: relative;
}

#newproperties .new-properties-wrap::before{
  content:'';
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.new-property-content{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: .5rem 1rem;
}

.new-property-content .p1,
.new-property-content .p2{
  font-size: .85rem;
  font-weight: 500;
  color: #eee;
  text-transform: uppercase;
}

.new-property-content .p1{
  color: var(--success);
  font-weight: 600;
}

.new-property-content .p2 i{
  margin-right: .4rem;
  color: var(--success);
}

/*-------------------------------
------NEW_PROPERTIES (END)--------
------------------------------*/
/*------------------------
-----Landing-Section------
-------------------------*/

.landing-section{
  position: relative;
  height: 100vh;
}

.landing-section::before{
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  overflow: hidden;
}

.bg-video__content{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landing-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
}

.color-white{
  color: #fff !important;
}

/*------------------------
------Landing-Section------
-------------------------*/

/*------------------------
-------Upload-Image-Section------
-------------------------*/

.upload-photo{
  padding: 60px 0;
}

.bg-img{
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.bg-para{
  background-attachment: fixed !important;
}

.upload-photo .bg-overlay{
  position: absolute;
}
.upload-photo img{
  object-fit: cover;
}
.upload-form
{
  position: relative;
  font-family: sans-serif;  
  width: 50%;
  margin: 0 auto;
}

.upload-form .controls label
{
  color: #343a40;
}

.uploadbutton a{
  text-decoration: none;  
  color: white;
}
/******* About US  ********/
.aboutus
{
  margin: 3rem 10rem 3rem 10rem;
}
/* .aboutus-title h3,
.whyus h3,
.whatsthere h3,
.aboutus-category h3
{
  font-family: Impact;
} */
/******* About US  Ends ********/

/*-------------------------------
------Terms Main--------
------------------------------*/
.banner {
  text-shadow: 1px 1px 2px #222;
  color: var(--color-white);
  padding: 1rem 0;
}

.banner h3 {
  text-shadow: 1px 1px 2px #333;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 16px;
  color: white;
  text-transform: uppercase;
}
.common-padding{
  padding: 6rem 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color:var(--primary);
  background: var(--color-white);
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-pills .nav-link.active::before{
  content: "\f138";
  font-family: "FontAwesome";
  font-weight: 600;
  color: var(--success);
  margin-right: 8px;
}

.nav-pills .nav-link {
  border-radius: 0;
  color:#444;
}

.payment-options-img{
  height: 57px;
  width: 255px;
}

.terms-main h5{
  color: #444;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.terms-main h6{
  color: #444;
  font-size: 1.6rem;
  margin: 1rem 0;
  line-height: 1.7;
}

.term-bg{
  background: #eee;
}

.terms-main .media img{
  /* width: 10rem; */
  height: 5;
  object-fit: contain;
}

/*-------------------------------
------Terms Main (END)--------
------------------------------*/

/*--------------------------------
--------Discover Page-------------
----------------------------------  */

.input-area{
  padding: 1rem 0;
}

.input-area input,
.input-area .input-group-prepend .input-group-text{
  outline: none;
  border-radius: 0;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  height: 3rem;
  color: #d8d8d8;
  padding: auto;
}

.input-area input{
  width: 83%;
  border-left: none;
  font-size: 1.3rem;
}

.input-area input::placeholder{
  /* color: #999; */
  color: #d8d8d8;
  font-family: tw cen mt;
}

.input-area .input-group-prepend{
  display: block;
  width: 17%;
}

.input-area .input-group-prepend .input-group-text{
  border-right: none;
  padding: .5rem 2  rem;
  font-size: 1.4rem;
}

.input-area button{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: orange;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 2rem;
  outline: none;
  border: none;
}
/*--------------------------------
--------Discover Page Ends-------------
----------------------------------  */

/*-------------------------------
------FAQ-Main--------
------------------------------*/

/*------Accordion--------*/

.account-title-box{
  margin-bottom: 1.5rem;
}

.account-pannel,
.account-pannel:link,
.account-pannel:visited{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-white);
  display: block;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #777;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  font-family: tw cen mt;
}

.account-pannel span{
  margin-left: .5rem;
  transition: all .3s;
}
.normal-content{
    font-size: 1.4rem;
    font-family: tw cen mt;
    color: #777;
    line-height: 1.7;
}
.pannel-box-wrap{
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #eee;
}

/*------Accordion (END)--------*/


/*-------------------------------
------FAQ-Main (END)--------
------------------------------*/


/*-------------------------------
------DISCOVER PAGE PHOTO GRID--------
------------------------------*/
/* 
.grid-item { 
  width: 200px; 
  padding: 30px;
}
.grid-item--width2 { 
  width: 400px; 
} */

/*-------------------------------
------DISCOVER PAGE PHOTO GRID--------
------------------------------*/

/*-------------------------------
------DOWNLOAD PAGE--------------
------------------------------*/
.downloadpage{
  margin: 3rem;
}
.downloadpage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.downloadoption{
  text-align: left;
}
.downloadoption img{
  border-radius: 90px;
  width:80px;
  height:80px;

}
.downloadoption .exifdata
{
  color: #777;
  margin: 0px;
  padding: 0px;
}
.downloadcategory h1{
  text-align: center;
  font-family: tw cen mt;
 margin: 1rem 0;
}

.downloadpage-tags{
  /* background: #f5f5f5; */
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  font-size: 1rem;

}
.downloadpage-tags a{
  color: #666;
}
/* download page ends here */